<footer class="outer-footer" data-dynamic-i18n data-component-type="footer">
  <div class="app-container">
    <footer>
      <div class="footer-nav">
        <ul>
          <li><a href="/" data-i18n="navigation.home">首页</a></li>
          <li><a href="/cards-list.html" data-i18n="navigation.cardsList">塔罗牌列表</a></li>
          <li><a href="/readings.html" data-i18n="navigation.readings">牌阵解读</a></li>
          <li><a href="/about.html" data-i18n="navigation.about">关于我们</a></li>
        </ul>
      </div>
      <p>Rider-Waite-Smith <span data-i18n="navigation.tarotTitle">塔罗牌解说</span> &copy; <script>document.write(new Date().getFullYear())</script></p>
    </footer>
  </div>
</footer> 